<script type="text/javascript" src="/catalog/view/theme/default/javascript/jquery-2.1.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/catalog/view/theme/default/stylesheet/bootstrap.min.css">

<div class="container">    
    <div class="row">              
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Recibo de pago</h2>
            <iframe id="pdf" src="{{ pdf }}" style="width:100%; height:960px; visibility: visible !important; opacity: 1 !important;" frameborder="1"></iframe>    
        </div>
        
        {% if show_map %}    
            <div class="col-lg-8 col-lg-offset-2" style="margin-top: 20px; margin-bottom: 20px; ">
                <h2>Mapa de tiendas</h2>
                {% if country == 'MX' %}    
                    <iframe src="https://www.paynet.com.mx/mapa-tiendas/index.html?locationNotAllowed=true&postalCode={{ postcode }}" style="border: 1px solid #000; width:100%; height:300px;" frameborder="0"></iframe>                                
                {% else %}
                    <iframe src="https://docs.openpay.co/docs/mapa-de-tiendas.html?locationNotAllowed=true&address={{ address }}" style="border: 1px solid #000; width:100%; height:300px;" frameborder="0"></iframe>
                {% endif %}
            </div>
        {% endif %}    
        
        <div class="col-lg-8 text-center col-lg-offset-2" style="margin-top: 30px; margin-bottom: 30px;">
            <a type="button" class="btn btn-success btn-lg" id="button-confirm"><i class="fa fa-check"></i> Regresar a la tienda</a>
        </div>        
    </div>        
</div>

<script type="text/javascript">
  $(document).ready(function() {            
        $('#button-confirm').click(function() {
            location = '{{ continue }}';
        });
    });
</script>