<link rel="stylesheet" type="text/css" href="/catalog/view/theme/default/stylesheet/openpay_stores.css">

<div id="msgBox" role="alert"><i></i><span style="margin-left:10px;"></span></div>
<div class="content" id="payment">
    
    <h2>Pago en Tiendas</h2>
    <div class="mb20">
      {% if country == 'MX' %}
        <img src="https://openpay-plugins-screenshots.s3.amazonaws.com/openpay_stores.png" alt="Tiendas" class="tiendas">
      {% else %}
        <img src="/catalog/view/theme/default/image/openpay_stores_co.png" alt="Tiendas" class="tiendas">
      {% endif %}
    </div>
    <div class="well">
        Una vez que des clic en el bot칩n <strong>Confirmar Orden</strong>, tu pedido ser치 puesto en <strong>Espera de pago</strong>, deber치s de imprimir tu recibo pago el cual podr치s liquidar en cualquiera de las tiendas participantes. <br> <a href="{% if country == 'MX' %} http://www.openpay.mx/tiendas-de-conveniencia.html {% else %} https://www.openpay.co/tiendas/ {% endif %}" target="_blank">Ver todas las tiendas</a>.
    </div>
    
    <div class="pull-right">
            <button type="button" class="btn btn-primary" id="button-confirm" data-loading-text="Processing">{{ button_confirm }}</button>
    </div>
    
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#button-confirm').click(function(){
      location = '{{ continue }}';
    });
  });
</script>